dnspython
flask
gunicorn
ldap3
openstacksdk
python-cinderclient
python-glanceclient
python-keystoneclient
python-neutronclient
python-novaclient
python-designateclient
python-troveclient
pyyaml
redis
wmflib
