{% extends "layout.html" %}

{% block title %}Project {{ project }} - {{ super() }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('projects') }}" rel="nofollow">Projects</a></li>
  <li class="active">{{ project }}</li>
</ol>

<div class="page-header">
  <h1>Project: <a href="https://wikitech.wikimedia.org/wiki/Nova_Resource:{{ project|capitalize }}" rel="nofollow">{{ project|capitalize }}</a></h1>
</div>

{% if admins or users or servers or proxies %}
<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-eye-open"></span>
        Monitoring
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        <li><a href="https://tools.wmflabs.org/nagf/?project={{ project }}" rel="nofollow">nagf</a></li>
        <li><a href="https://grafana-labs.wikimedia.org/dashboard/db/labs-project-board?var-project={{ project }}&var-server=All" rel="nofollow">grafana</a></li>
        <li><a href="https://tools.wmflabs.org/sal/{{ project }}" rel="nofollow">SAL</a></li>
      </ul>
    </div>
  </div>
  {% if admins %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-user"></span>
        Administrators
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        {% for u in admins|sort(attribute='cn') %}
        <li><a href="{{ url_for('user', uid=u.uid) }}" rel="nofollow">{{ u.cn }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if users %}
  <div class="panel panel-default">
    <div id="users-heading" class="panel-heading" role="tab">
      <h3 class="panel-title">
        <a href="#users-body" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="users-body">
          <span class="glyphicon glyphicon-user"></span>
          Users
        </a>
      </h3>
    </div>
    <div id="users-body" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="users-heading">
      <ul class="list-unstyled column-list">
        {% for u in users|sort(attribute='cn') %}
        <li><a href="{{ url_for('user', uid=u.uid) }}" rel="nofollow">{{ u.cn }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if proxies %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-random"></span>
        Proxies
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>Domain</th>
          <th>Backend</th>
          <th>Instance</th>
        </tr>
      </thead>
      <tbody>
        {% for proxy in proxies %}
        <tr>
          <td><a href="https://{{ proxy.domain }}/" rel="nofollow">{{ proxy.domain }}</a></td>
          <td>
            {% for backend in proxy.backends %}
            {{ backend }}
            {% endfor %}
          </td>
          <td>
            {% for backend in proxy.backends %}
            {% with fqdn=backend|extract_hostname %}
            {% if fqdn is ipv4addr %}
            UNKNOWN
            {% else %}
            <a href="{{ url_for('server', fqdn=fqdn) }}" rel="nofollow">{{ fqdn }}</a>
            {% endif %}
            {% endwith %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if servers %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-hdd"></span>
        Instances
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>FQDN</th>
          <th>Type</th>
          <th>Image</th>
          <th>IP</th>
          <th>CPUs</th>
          <th>RAM</th>
          <th>Storage</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <tbody>
        {% for server in servers %}
          {% set image = images[server.image.id]|default('') %}
          {% set flavor = flavors[server.flavor.id]|default('') %}
          {% set fqdn = server.name ~ '.' ~ project ~ '.eqiad.wmflabs' %}
        <tr>
          <td class="text-nowrap"><a href="{{ url_for('server', fqdn=fqdn) }}" rel="nofollow">{{ fqdn }}</a></td>
          <td>{{ flavor.name|default('UNKNOWN') }}</td>
          <td>{{ image.name|default('UNKNOWN') }}</td>
          {% if 'public' in server.addresses %}
          <td>{{ server.addresses.public[0].addr }}</td>
          {% else %}
          <td>-</td>
          {% endif %}
          <td class="text-right">{{ flavor.vcpus|default('-') }}</td>
          <td class="text-right">{{ flavor.ram|default('-') }}M</td>
          <td class="text-right">{{ flavor.disk|default('-') }}G</td>
          <td>{{ server.updated }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% else %}
<p>Unknown project '{{ project }}'. Are you just guessing?</p>
{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/css/theme.default.min.css" crossorigin="anonymous">
{% endblock %}
{% block js %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".tablesorter").tablesorter();
});
</script>
{% endblock %}
