{% extends "layout.html" %}

{% block title %}Project {{ project }} - {{ super() }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('projects') }}" rel="nofollow">Projects</a></li>
  <li class="active">{{ project }}</li>
</ol>

<div class="page-header">
  <h1>Project: <a href="https://wikitech.wikimedia.org/wiki/Nova_Resource:{{ project|capitalize }}" rel="nofollow">{{ project|capitalize }}</a></h1>
</div>

{% if admins or users or servers or proxies or zones %}
<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-eye-open"></span>
        Monitoring
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        <li><a href="https://grafana.wmcloud.org/d/0g9N-7pVz/cloud-vps-project-board?orgId=1&var-project={{ project }}" rel="nofollow">grafana</a></li>
        <li><a href="https://sal.toolforge.org/{{ project }}" rel="nofollow">SAL</a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-eye-open"></span>
        Limits
      </h3>
    </div>
    <div class="panel-body">
      <!-- {'maxTotalKeypairs': 100, 'maxPersonality': 5, 'maxPersonalitySize': 10240, 'maxServerMeta': 128, 'maxImageMeta': 128, 'maxServerGroups': 10, 'maxServerGroupMembers': 10, 'totalServerGroupsUsed': 0, 'maxSecurityGroupRules': 20} -->
      {% for region, region_limits in limits.items() %}
      {% set cinder_region_limits = cinder_limits[region] %}
      {% set neutron_region_limits = neutron_limits[region]['quota'] %}
      <dt>{{ region }}</dt>
      <dd>
      {{ region_limits['absolute']['totalInstancesUsed'] }} / {{ region_limits['absolute']['maxTotalInstances'] }} instances.
      {{ region_limits['absolute']['totalCoresUsed'] }} / {{ region_limits['absolute']['maxTotalCores'] }} VCPUs.
      {{ region_limits['absolute']['totalRAMUsed'] / 1024 }} GB / {{ region_limits['absolute']['maxTotalRAMSize'] / 1024 }} GB RAM.
      {{ neutron_region_limits['floatingip']['used'] }} / {{ neutron_region_limits['floatingip']['limit'] }} floating IPs.
      {{ neutron_region_limits['security_group']['used'] }} / {{ neutron_region_limits['security_group']['limit'] }} security groups.
      {{ cinder_region_limits['volumes']['in_use'] }} / {{ cinder_region_limits['volumes']['limit'] }} volumes.
      {{ cinder_region_limits['gigabytes']['in_use'] }} / {{ cinder_region_limits['gigabytes']['limit'] }} GB volume space.
      </dd>
      {% endfor %}
    </div>
  </div>
  {% if members %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-user"></span>
        Members
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        {% for u in members|sort(attribute='cn') %}
        <li><a href="{{ url_for('user', uid=u.uid) }}" rel="nofollow">{{ u.cn }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if viewers %}
  <div class="panel panel-default">
    <div id="viewers-heading" class="panel-heading" role="tab">
      <h3 class="panel-title">
        <a href="#viewers-body" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="viewers-body">
          <span class="glyphicon glyphicon-user"></span>
          Viewers
        </a>
      </h3>
    </div>
    <div id="viewers-body" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="viewers-heading">
      <ul class="list-unstyled column-list">
        {% for u in viewers|sort(attribute='cn') %}
        <li><a href="{{ url_for('user', uid=u.uid) }}" rel="nofollow">{{ u.cn }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if service_accounts %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-stats"></span>
        Service accounts
      </h3>
    </div>
    <div class="panel-body">
      {% for role, users in service_accounts.items() %}
      <dt>{{ role }}</dt>
      <dd>
        <ul class="list-unstyled column-list">
          {% for u in users|sort(attribute='cn') %}
          <li><a href="{{ url_for('user', uid=u.uid) }}" rel="nofollow">{{ u.cn }}</a></li>
          {% endfor %}
        </ul>
      </dd>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if proxies %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-random"></span>
        Proxies
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>Domain</th>
          <th>Backend</th>
          <th>Instance</th>
        </tr>
      </thead>
      <tbody>
        {% for proxy in proxies %}
        <tr>
          <td><a href="https://{{ proxy.domain }}/" rel="nofollow">{{ proxy.domain }}</a></td>
          <td>
            {% for backend in proxy.backends %}
            {{ backend }}
            {% endfor %}
          </td>
          <td>
            {% for backend in proxy.backends %}
            {% with fqdn=backend|extract_hostname %}
            {% if fqdn is ipv4addr %}
            UNKNOWN
            {% else %}
            <a href="{{ url_for('server', fqdn=fqdn) }}" rel="nofollow">{{ fqdn }}</a>
            {% endif %}
            {% endwith %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if floating_ips %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-signal"></span>
        Floating IPs
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>Address</th>
          <th>Description</th>
          <th>Mapped to</th>
          <th>DNS names</th>
        </tr>
      </thead>
      <tbody>
        {% for floating_ip in floating_ips|sort(attribute='sortkey') %}
        <tr>
          <td>{{ floating_ip.address }}</td>
          <td>{{ floating_ip.description }}</td>
          <td>
              {% if floating_ip.target %}
              {{ floating_ip.target }}
              {% else %}
              (unused)
              {% endif %}
          </td>
          <td>
            <ul class="list-unstyled">
              {% for name in floating_ip.dns|sort %}
              <li>{{ name }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if zones %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-globe"></span>
        DNS zones
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for zone in zones|sort %}
        <tr>
          <td><a href="{{ url_for('zone', project=project, name=zone) }}" rel="nofollow">{{ zone }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if volumes %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-hdd"></span>
        Volumes
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for volume in volumes|sort(attribute='name') %}
        <tr>
          <td class="text-nowrap">{{ volume.name }}</td>
          <td class="text-right">{{ volume.size|default('-') }}G</td>
          <td>
            {% if volume.status == "in-use" %}
              Attached to
              {% for attachment in volume.attachments %}
                {% for server in servers %}
                  {% if server.id == attachment.server_id %}
                    {% set fqdn = server.name ~ '.' ~ project ~ '.eqiad1.wikimedia.cloud' %}
                    <a href="{{ url_for('server', fqdn=fqdn) }}" rel="nofollow">{{ fqdn }}</a>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% elif volume.status == "available" %}
              Unattached
            {% else %}
              {{ volume.status }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if databases %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-folder-open"></span>
        Databases
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>Instance name</th>
          <th>Type</th>
          <th>Storage</th>
          <th>Resources</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for database in databases|sort(attribute='name') %}
        {% set flavor = flavors[database.flavor.id]|default('') %}
        <tr>
          <td class="text-nowrap"><a href="{{ url_for('project_database', project=project, name=database.name) }}" rel="nofollow">{{ database.name }}</a></td>
          <td>{{ database.datastore.type }} {{ database.datastore.version }}</td>
          <td>{{ database.volume.size|default('-') }}G</td>
          <td>
            <span class="text-nowrap">{{ flavor.vcpus|default('-') }} CPUs,</span>
            <span class="text-nowrap">{{ flavor.ram|default('-') }}M RAM</span>
          </td>
          <td>
            {% if database.status == "HEALTHY" %}
              Healthy
            {% else %}
              {{ database.status }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if servers %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-tasks"></span>
        Instances
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>FQDN</th>
          <th>Type</th>
          <th>Image</th>
          <th>IP</th>
          <th>CPUs</th>
          <th>RAM</th>
          <th>Storage</th>
          <th>Hypervisor</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <tbody>
        {% for server in servers %}
          {% set image = images[server.image.id]|default('') %}
          {% set flavor = flavors[server.flavor.id]|default('') %}
          {% set fqdn = server.name ~ '.' ~ project ~ '.eqiad1.wikimedia.cloud' %}
        <tr>
          <td class="text-nowrap"><a href="{{ url_for('server', fqdn=fqdn) }}" rel="nofollow">{{ fqdn }}</a></td>
          <td>{{ flavor.name|default('UNKNOWN') }}</td>
          <td>{{ image.name|default('UNKNOWN') }}</td>
          <td>{% for sdn, interfaces in server.addresses.items() %}
          {% for interface in interfaces %}
          {% if interface['OS-EXT-IPS:type'] == 'fixed' %}
          {{ interface.addr }}
          {% endif %}
          {% endfor %}
          {% endfor %}</td>
          <td class="text-right">{{ flavor.vcpus|default('-') }}</td>
          <td class="text-right">{{ flavor.ram|default('-') }}M</td>
          <td class="text-right">{{ flavor.disk|default('-') }}G</td>
          <td class="text-right">{{ server['OS-EXT-SRV-ATTR:hypervisor_hostname'] }}</td>
          <td>{{ server.updated }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% else %}
<p>Unknown project '{{ project }}'. Are you just guessing?</p>
{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/css/theme.default.min.css" crossorigin="anonymous">
{% endblock %}
{% block js %}
{{ super() }}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".tablesorter").tablesorter();
});
</script>
{% endblock %}
