{% extends "layout.html" %}

{% block content %}
<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-cloud"></span>
      Projects
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        {% for project_id, project_name in projects.items() %}
        {% if project_id != 'admin' %}
        <li><a href="{{ url_for('project', project_id=project_id) }}" rel="nofollow">{{ project_name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
