{% extends "layout.html" %}

{% block title %}Proxies - {{ super() }}{% endblock %}

{% block content %}
<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-random"></span>
        Proxies
      </h3>
    </div>
    <table class="table table-condensed table-hover tablesorter">
      <thead>
        <tr>
          <th>Project</th>
          <th>Domain</th>
          <th>Backend</th>
          <th>Instance</th>
        </tr>
      </thead>
      <tbody>
        {% for proxy in proxies|sort(attribute='project') %}
        <tr>
          <td><a href="{{ url_for('project', name=proxy.project) }}" rel="nofollow">{{ proxy.project }}</a></td>
          <td><a href="https://{{ proxy.domain }}/" rel="nofollow">{{ proxy.domain }}</a></td>
          <td>
            {% for backend in proxy.backends %}
            {{ backend }}
            {% endfor %}
          </td>
          <td>
            {% for backend in proxy.backends %}
            {% with fqdn=backend|extract_hostname %}
            <a href="{{ url_for('server', fqdn=fqdn) }}" rel="nofollow">{{ fqdn }}</a>
            {% endwith %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/css/theme.default.min.css" crossorigin="anonymous">
{% endblock %}
{% block js %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".tablesorter").tablesorter();
});
</script>
{% endblock %}
