{% extends "layout.html" %}

{% block title %}User {{ uid }} - {{ super() }}{% endblock %}

{% block content %}
{% if user %}
<div class="page-header">
  <h1>User: {{ user.cn }}</h1>
</div>

<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-user"></span>
      {{ user.cn }}
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Wikitech</dt>
        <dd><a href="https://wikitech.wikimedia.org/wiki/User:{{ user.cn }}" rel="nofollow">User:{{ user.cn }}</a></dd>
        <dt>shell</dt>
        <dd>{{ user.uid }}</dd>
      </dl>
    </div>
  </div>
  {% if domain_roles %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-lock"></span>
      System-wide roles
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        {% for role in domain_roles %}
        <li>{{ role }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if projects %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-cloud"></span>
      Projects
    </div>
    <div class="panel-body">
      <ul class="list-unstyled column-list">
        {% for project_id, project_name in projects %}
        <li><a href="{{ url_for('project', project_id=project_id) }}" rel="nofollow">{{ project_name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<p>Unknown user '{{ uid }}'. Are you just guessing?</p>
{% endif %}
{% endblock %}
